.item_prise_for_1{
    display: none;
}
.filter_active{
    opacity: 0.3;
}
.header-v5 .navbar-default, .search-button{
    display: none !important;
}
#VYAZKOST{
    margin-left: 0;
}
.header-fixed .header-v5.header-fixed-shrink{
    height: 35px !important;
    position: relative !important;
    margin: 0 !important;
}
.dealer_card{
	width: 238px;
	border: 1px solid #dddddd;
	box-shadow: 7px 7px 20px -5px rgba(0,0,0,0.2);
	float: left;
}
.dealer_header{
	background-color: #ffd600;
	width: 236px;
	height: 51px;
}
.dealer_header h2{
	font-weight: 400;
	margin: 7px 0px 0px 20px;
    font-size: 14px;
    float: left;
}
.dealer_header i{
    float: right;
    font-size: 18px;
    margin-top: 16px;
    margin-right: 20px;
}
.dealer_foto{
	margin-top: 29px;
	text-align: center;
}
.dealer_foto img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
}
.dealer_info p{
    margin: 20px 0px 0px 0px;
    text-align: center;
    font-size: 18px;
}
.dealer_info form{
    font-size: 12px;
	margin-top: 20px;
}
.dealer_info form div{
	margin: 0 20px 5px 20px;
}
.dealer_info form div:nth-child(3){
	margin-bottom: 20px;
}
.form_edit div{
	height: 25px;
}
.form_edit div span{
	position: relative;
    top: 4px;
}
.dealer_info form div input{
	margin-top: 1px;
	width: 128px;
	float: right;
}

.dealer_hr{
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 2px;
    background: #ffd600;
}
.manager_info{
    margin: 0 20px 30px 20px;
	font-size: 12px;
}
.manager_name{
	font-weight: 700;
}
.manager_info div{
	margin-bottom: 5px;
}
.edit_info{
	cursor: pointer;
}
.form_edit{
	display: none;
}
.form_edit div input{
    outline-color: #ffd600;
}
.element_hide{
	display: none;
}
.element_show{
	display: block;
}
#submit_form{
    background: #ffd600;
    border: none;
    width: 95px;
    height: 25px;
    float: none;
}
#submit_form_div{
    margin-top: 15px;
    margin-bottom: 20px;
	text-align: center;
}
.dealer_filter, .dealer_tovar{
	float: left;
}
.dealer_filter_and_tovar{
	width: 862px;
	float: left;
	margin-left: 40px;
}
.dealer_tovar_item:nth-child(even){
	background: #f9f9f9;
}
.table_header th{
	font-size: 11px;
	font-weight: 600;
	text-align: center;

}
.table_header{
	height: 50px;
	border-bottom: 1px solid #dddddd;
}
.dealer_tovar{
	margin-top: 17px;
}
.table_category{
	font-size: 14px;
	height: 49px;
	background-color: #e3e3e3;
}
.table_category td{
	padding-left: 21px;
	font-weight: 600;
}
.dealer_tovar_item{
	height: 67px;
	font-size: 12px;
}
.dealer_tovar_item th{
	text-align: center;
	font-weight: 600;
}

.smartfilter{
	width: 861px;
}
.panel-group{
	margin-bottom: 0;
	margin-right: 13.85px;
    margin-left: 13.85px;
	width: 150px;
	height: 52px;
    float: left;
    text-transform: uppercase;
}
.dealer_filter{
	width: 685px;
}
.reset_dealer_filter{
	width: 150px;
	height: 52px;
    color: #333;
    float: right;
    background-color: #f5f5f5;
    cursor: pointer;
    padding-top: 17px;
    text-align: center;
}
.panel-group > div{
	width: 150px;
	height: 52px;
	border: none;
	box-shadow: none;
}
.panel-group > div > div:first-child{
	height: 52px;
	border: none;
}
.panel-group > div > div:last-child{
    z-index: 100;
    position: relative;
}
#DOPUSKY_DILER{
	margin-left: 0px;
}
#KATEGORIYA_TOVARA_DILER .panel-title a span:first-child{
    margin-top: 6px;
}
#LITRAJ_DILER{
	margin-right: 0px;
}
.panel-title a {
	font-size: 12px;
	text-align: right;
    width: 100%;
    display: block;
}
.panel-title a span{
	line-height: 16px;
	float: left;
	text-align: left;
	width: 100px;
	margin-top: 15px;
}
.panel-title a i{
	margin-top: 13px;
	font-size: 18px;
}
#DEALER_KATEGORY_ITEM div > div > h2{
	margin-top: 7px;
}
#DEALER_KATEGORY_ITEM div > div > h2 a span{
	margin-top: 0px;
}
#DEALER_KATEGORY_ITEM div > div > h2 a i{
	margin-top: 0px;
}
.panel-body{
    border-top: none !important;
}
.panel-collapse{
	background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffd600;
  border: 2px solid #ececec;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffd600;
}
::-webkit-scrollbar-thumb:active {
  background: #ffd600;
}
::-webkit-scrollbar-track {
  background: #ececec;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #ececec;
}
::-webkit-scrollbar-track:active {
  background: #ececec;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.panel-body{
	overflow: auto;
	padding: 0;
}
.panel-body .list-unstyled{
    width: 120px;
    max-height: 150px;
    overflow: auto;
    float: left;
    margin-left: 15px;
    padding-top: 1px;
    margin-bottom: 10px;
}
.bx-filter-param-label{
	width: 100px;
	font-size: 12px !important;
	padding-left: 0 !important;
}
.bx-filter-param-label span{
	width: 75px;
    word-break: break-all;
	float: left;
}
.bx-filter-param-label i{
	border: none;
	border-color: #f5f5f5 !important;
    background-color: #f5f5f5 !important;
	float: right;
	position: relative !important;
}
.checkbox-list .checkbox input:checked + i:after{
    font-size: 12px;
    margin-top: -1px;
}
.filter_text{
    outline-color: #ffd600;
	margin-left: 15px;
    width: 120px;
    height: 25px;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    padding-left: 7px;
    font-size: 12px;
}
.filter_selected_param{
    margin-left: 15px;
    margin-bottom: 15px;
    float: left;
    font-size: 11px;
    border-radius: 2px;
    padding-top: 3px;
    background-color: #ffd600;
}
.filter_selected_param span{
    float: left;
    max-width: 95px;
    word-break: break-all;
	margin-left: 5px;
    margin-right: 5px;
}
.filter_selected_param label i{
	font-size: 13px;
	cursor: pointer;
}
.filter_selected_param label{
	margin-bottom: 3px;
	margin-right: 4px;
}
.item_selected_param{
    float: left;
    width: 135px;
}
.checkbox-list .checkbox input:checked + i + .text_span_for_s{
	color: #ffd600;
}
.display_hide{
	display: none !important;
}
a[aria-expanded="true"] .fa-angle-down:before{
	content: "\f106";
}
.dealer_basket{
	float: left;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
    position: fixed;
    z-index: 99;
    bottom: 0;
    width: 862px;
    height: 60px;
    background-color: #e3e3e3;
    margin-top: 50px;
}
.dealer_basket_span{
    float: left;
    margin-top: 20px;
    margin-left: 42px;
}
.dealer_basket_span_color{
	border-bottom: 1px solid #ffd600;
	margin-left: 8px;
}
.ajax_basket_span{
    margin-top: 20px;
    float: left;
    margin-left: 80px;
}
.ajax_basket_span_2{
    margin-top: 20px;
    float: left;
}
.ajax_basket_a{
    float: right;
    height: 30px;
    width: 226px;
    color: #000;
    text-decoration: none;
    background: #FFD600;
    text-align: center;
    padding-top: 5px;
    margin-top: 15px;
    margin-right: 40px;
}
.ajax_basket_a:hover, .ajax_basket_a:active, .ajax_basket_a:focus{
	color: #000;
	text-shadow: 0px 0px 0.1px #000000;
    outline-color: #FFD600;
}
.fooooter{
	height: 0px;
    width: 100%;
    float: left;
}
.add_to_cart_div{
	float: left;
	height: 22px;
	border: 1px solid #dddddd;
}
.item_dealer_minus{
	width: 22px;
	height: 20px;
	background-color: #dddddd;
	color: #000;
    border: none;
    float: left;
    padding-top: 0px;
}
.item_dealer_plus{
    border: none;
	width: 22px;
	height: 20px;
	background-color: #dddddd;
	color: #000;
	float: right;
	padding-top: 0px;
}
.dealer_item_coll{
	float: left;
	height: 20px;
	font-size: 13px;
	border: none;
	padding: 0;
	margin: 0;
    width: 30px;
    text-align: center;
    outline-color: #FFD600;
}
.item_dealer_minus, .item_dealer_plus{
	outline-color: #FFD600;
}
.add_to_basket_disable{
	pointer-events: none;
	opacity: 0.3;
}
.dealer_item_active{
    border: 1px solid #ffd600;
}
.dealer_fimal_prise_item_span_2{
	font-size: 14px;
	margin-right: 23px;
	cursor: pointer;
	float: right;
}
.div_selected{
	background-color: #FFD600 !important;
}
.div_selected h2 a:hover{
	color: #000;
}
.div_selected_div_1{
	margin-top: 10px;
}
.reset_dealer_filter:hover{
	color: #FFD600;
}





/*.open_modal{
    position: absolute;
    left: 50%;
}
.open_modal p {
    background: #ee7156;
    border-radius: 5px;
    padding: 2px 44px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 0 0 -50%;
    display: block;
    width: 225px;
}*/

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.popup {
    display: inline-block;
    left: 50%;
    background: #fff;
    opacity: 0;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 999999;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}
.popup table{
    width: 600px;
    border: 3px solid #FFD600;
}
.popup table td, .popup table th {
    padding: 10px;
}
.popup .close_modal {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
    background-image: url(/bitrix/templates/maslo/assets/plugins/fancybox/source/fancybox_sprite.png);
}
.item_pic_from_ajax img{
    max-height: 370px;
    max-width: 260px;
}
.item_name_from_ajax{
    text-align: center;
    font-weight: 600;
    padding-right: 25px;
}
.item_info_from_ajax{
    font-weight: 500;
    padding-right: 25px;
}
.about_item{
    text-decoration: underline;
    cursor: pointer;
}
.about_item:hover{
    color: #FFD600;
    text-decoration: none;
}
.dealer_page_th{
    padding: 35px 10px 10px 10px !important;
    font-weight: 500 !important;
}
.text_span_for_s_active{
    opacity: 0;
    display: none;
}
.articleSearchButton{
    display: inline-block;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    color: #333;
    background-color: #f5f5f5;
    padding: 10px 50px;
    width: 150px;
    text-align: center;
    float: right;
    margin-left: 27px;
}
.articleSearchButton:hover{
    color: #FFD600;
    cursor: pointer;
}
.articleSearch{
    margin-top: 20px;
    float: left;
}
.articleSearchInput{
    padding-left: 15px;
    width: 685px;
    height: 40px;
}
.articleSearchInput:active, .articleSearchInput:focus{
    outline-color: #FFD600;
}
.articleSearchInputError{
    border: 1px solid red;
}
.articleSearchActive {
    margin-top: 6px;
}
.articleSearchActive .articleSearchInput{
    padding-left: 15px;
    width: 515px;
    height: 40px;
}

#LITRAZH_DILER{
    width: 100px;
}
#LITRAZH_DILER > div {
    width: 100px;
}
#LITRAZH_DILER .panel-title a span {
    width: 50px;
}
#LITRAZH_DILER .panel-title a i {
    margin-right: 0px;
}
#LITRAZH_DILER .filter_text{
    width: 70px;
}
#LITRAZH_DILER .panel-body .list-unstyled{
    width: 70px;
}
#LITRAZH_DILER .bx-filter-param-label span{
    width: 40px;
}
#LITRAZH_DILER .item_selected_param{
    width: 100px;
}
#LITRAZH_DILER .checkbox-list li{
    margin-right: 3px;
}

#KATEGORIYA_TOVARA_DILER{
    width: 202px;
}
#KATEGORIYA_TOVARA_DILER > div {
    width: 202px;
}
#KATEGORIYA_TOVARA_DILER .filter_text{
    width: 172px;
}
#KATEGORIYA_TOVARA_DILER  .panel-body .list-unstyled{
    width: 172px;
}
#KATEGORIYA_TOVARA_DILER .bx-filter-param-label{
    width: 156px;
}
#KATEGORIYA_TOVARA_DILER .bx-filter-param-label span{
    hyphens: auto;
    width: 135px;
    word-break: break-word;
}
#KATEGORIYA_TOVARA_DILER .panel-title a span{
    width: 130px;
    margin-top: 15px !important;
}
.container{
    min-width: 1170px !important;
}